APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=totem_animal
DB_USERNAME=root
DB_PASSWORD=

VK_APP_ID=
VK_APP_SECRET=

LOG_CHANNEL=single
LOG_PATH=runtime/logs/app.log
