/vendor/
/.idea/
/.phpunit.result.cache
/.phpunit.cache/
/.php-cs-fixer.cache
/.DS_Store
/.env
/runtime/*
!/runtime/.gitkeep
!/runtime/logs/.gitkeep
!/runtime/cache/.gitkeep
/tests/Feature/*
!/tests/Feature/.gitkeep
/miniapp/node_modules/
/miniapp/dist/
